{% extends "base.html" %}
{% load static  %}
{% block title %} about {% endblock title %}

{% block body %}
{% csrf_token %}
<div class="jumbotron">
  <div class="container text-center">
    <h2>WELCOME</h2>
    <h2> Welcome to store, your premier destination for all things tech. At this store , we're more than just a retailer, we're tech enthusiasts on a mission to provide you with the latest gadgets and electronics, coupled with exceptional service and expertise. </h2>      
  </div>
</div>

{% endblock body %}