{% extends "base.html" %}
{% load static  %}
{% block title %} service {% endblock title %}

{% block body %}
{% csrf_token %}
<div class="jumbotron">
  <div class="container text-center">
    <h2>WELCOME</h2> 
    <h2>At this store, we're committed to providing more than just products, we're dedicated to delivering exceptional service and support to our customers. Explore our range of services designed to enhance your shopping experience and keep your electronics running smoothly. </h2>     
  </div>
</div>
{% endblock body %}